{% extends 'base.html' %}

{% block title %}

资产管理

{% endblock %}


{% block page-content %}
<br></br>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">

<ul class="nav">
  <li class="nav-header">
  这里是头像
  </li>
  <li class="active">
    <a href="/assets/hostlist">
      <i class="fa fa-th-large">
      </i>
      <span class="nav-label">主机资产</span>
      <span class="label label-info pull-right"></span>
    </a>
  </li>
  <li class="active">
    <a href="/assets/topology">
      <i class="fa fa-th-large">
      </i>
      <span class="nav-label">项目拓扑</span>
      <span class="label label-info pull-right"></span>
    </a>
  </li>
  <li class="special_link">
    <a href="http://www.zhan.com" target="_blank">
      <i class="fa fa-database">
      </i>
      <span class="nav-label">访问官网</span>
    </a>
  </li>
</ul>
  
      




{% block page-content-1 %}

你的内容


{% endblock %}

{% endblock %}
