<!DOCTYPE html>
<html lang="cn">
<head>
	<meta charset="utf-8">
	<title>{% block title %}运维平台{% endblock %} - 小站教育</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">




	<!-- Le styles -->
	<link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">


</head>
<body>
	<div class="navbar navbar-inverse">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">小站教育运维平台</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a class="brand" href="/dashboard">仪表板</a></li>
						<li><a class="brand" href="/assets">资产管理</a></li>
						<li><a class="brand" href="/configure">配置管理</a></li>
						<li><a class="brand" href="/publish">项目发布</a></li>
						<li><a class="brand" href="/audit">审计</a></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li><a href="#">{{ request.user.username }}</a></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">设置<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/admin">admin</a></li>
							<li><a href="/changepwd/?next={{ request.path }}">修改密码</a></li>
                                                        <li><a href="/api">RESTFulApi</a></li>
							<li><a href="/logout/">退出</a></li>
						</ul>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
	<div class="container" id='page-content'>
{% block page-content %}



您的页面内容



{% endblock %}
	</div> <!-- /container -->




	<!-- Le javascript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="http://code.jquery.com/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js"></script>
</body>
</html>
