{% extends 'base.html' %}

{% block title %}

发布系统

{% endblock %}

{% block page-content %}



<br></br>
<h1> 发布系统 </h1>
<br></br>
<div class="input-group" >
<form class="form-horizontal" role="form">
	<div class="form-group">
		<label class="col-sm-2 control-label">project:&nbsp;</label>
		<div class="col-sm-10">
			<select id="projec" name='projectname' class="selectpicker" role="form">
				<option>{{ project }}</option>
			</select>
		 </div>
	</div>
	<br>
	<div class="form-group">
		<label class="col-sm-2 control-label">Action:&nbsp;</label>
		<div class="col-sm-10">
			<select id="Action"  name='actionname' class="selectpicker" data-toggle="tooltip" role="form">
				<option>{{ action }}</option>
			</select>
		 </div>
	</div>
	<br>
	<div class="form-group">
                <label class="col-sm-2 control-label">version No.:&nbsp;</label>
                <div class="col-sm-10">
			<input type="text" size="30" readonly="readonly" value={{ version }}>
                 </div>
	</div>

        <br>
	<div class="form-group">
		<label class="col-sm-2 control-label">申请人:&nbsp;</label>
		<div class="col-sm-10">
			<select id="requester"  class="form-control" data-toggle="tooltip" role="form">
				<option>{{ requester }}</option>
			</select>
		 </div>
	</div>
        <br>
        <fieldset disabled>
		<div class="form-group">
			<label for="disabledSelect" class="col-sm-2 control-label">操作人:&nbsp;</label>
			<div class="col-sm-10">
				<select id="Operator" class="form-control" data-toggle="tooltip">
					<option>{{ request.user.username }}</option>
				</select>
			 </div>
		</div>
	 </fieldset>
        <br>	
        <div class="form-group">
                 <label class="col-sm-2 control-label">发布说明:&nbsp;</label>
				<textarea id="detail" class="form-control" type="text" readonly="readonly" cols="45" rows="5" placeholder="请务必认真填写">{{ detail }}</textarea>
        </div>

	<br>
        <div class="form-group">
		 <label class="col-sm-2 control-label">&nbsp;</label>
                 <div class="col-sm-10">
			<button id="my-form" type="button" class="btn btn-primary">提交</button>
			<input type="button" name="Submit" onclick="javascript:history.back(-1);" value="取消" class="btn btn-info">
                 </div>
        </div>

</form>
</div>


<div class="container">
	<pre id="result" class="pre-scrollable"></pre>
</div>


<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $('#my-form').click(function(){
        $( "#result" ).empty();
        var project = $("#projec").val();
        var action = $("#Action").val();
        var version = $("#version").val();
        var requester = $("#requester").val();
        var Operator = $("#Operator").val();
        var detail = $("#detail").val();
        //console.log(project,action,sponsor,Operator,detail)
      	alert("你非常确定你要这么干？？？");
	if(project==null || action==null || detail.length==0 || requester==null){
      		alert("二货，你妈叫你回家吃饭");
      		return false;
   	}
        $.ajax({
		url: "/saltcall/?paudit_id={{ paudit_id }}",
                type:'post',
                dataType:'json',
                data: {'project': project, 'action': action, 'version': version, 'requester': requester, 'Operator': Operator, 'detail': detail },
                success:function(ret)
                {
			console.log(ret)
			$('#result').html(ret.msg);
                }
        });
      });
    });

</script>

{% endblock %}
